$spanColor: orange;
$tittleColor : white;


.header-image {
    /* The image used */
    background-image: url("/images/bkg-hero-header.jpg");
    min-height: 700px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
    
    color:$tittleColor;
  }


.header-image h1{
  
   font-size:60px;
   text-align: center;
   margin-top: 70px;
}

.header-image h1 span{
  color:$spanColor;
  font-size:60px;

}

.header-image p {
  text-align: center;
  margin:20px
} 


span{
    
}

